.contact{
    background-size: cover;
    background-position: top;
    padding: 60px 0 120px;
   
    .contact-content{
        padding-bottom: 90px;
        h5{
            font-family: var(--font-2);
            font-weight: 400;
        }
    }
    .form{
        margin: 0px 85px;
        .btn-1{
            display: block;
            text-align: center;
            border-radius: 5px;
            padding: 10px 0;
            &:hover{
                color: var(--color-3);
            }
        }
        input.form-control {
            font-size: 21px;
            line-height: 45px;
            font-family: var(--font-2);
            text-transform: uppercase;
            color: var(--color-4);
            font-weight: 400;
            margin-bottom: 30px;
        }
    }
}