.food-choose{
    padding: 75px 0px;
    .food-content{
        p{
            color: var(--color-1);
            font-family: var(--font-3);
            font-weight: 400;
            margin-bottom: 60px;
        }
        
    }
    .food-items{
        img{
           margin-bottom: 30px;
        }
    }
}