.container{
    max-width: 1280px;
}
.owl-controls.clickable {
    position: relative;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
    background-color: #ffc107;
}

.owl-pagination {
    position: absolute;
    bottom: 85px;
    left: 32px;
}